@font-face {
    font-family: MuseoSansCyrl;
    src: url('../fonts/MuseoSansCyrl.otf');
}

/* button {
    appearance: none;
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
} */
input {
    appearance: none;
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

button {
    appearance: none;
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

.icon-menu {
    display: block;
    width: 37px;
    height: 37px;
    margin: 0;
    padding: 0;
}

.icon-mark {
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 649px;
    height: 389px;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 #3C3C3C66;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #CFA55B33;
    border-radius: 10px;
    z-index: 1;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 2;
    border-radius: 10px;
  }

.input {
    font-family: "MuseoSansCyrl", sans-serif;
    font-size: 18px;
    color: #787878;
    padding-left: 40px;
    width: 553px;
    height: 73px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px 0 #4242424D;
}

.button {
    display: inline-block;
    /* padding: 10px 20px; */
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #CFA55B;
    border-radius: 5px;
}

.button-consult {
    width: 225px;
    height: 42px;
    font-size: 13px;
    box-shadow: 0 20px 40px 0 #CFA55B66;
}

.button-sell {
    width: 350px;
    height: 80px;
    font-size: 16px;
    box-shadow: 0 0 60px 0 #FFC25680;
}

.button-offer {
    width: 420px;
    height: 85px;
    box-shadow: 0 40px 40px 0 #CFA55B66;
}

.phone-number {
    width: 350px;
    height: 80px;
}

.button-callback {
    width: 298px;
    height: 73px;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 60px 0 #FFC25666;
}

.header {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.header-bg {
    position: relative;
    overflow: hidden;
    width: 1920px;
    height: 989px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 64px;
    margin-bottom: 80px;
}

.header-bg::before {
    content: "";
    position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
    background-image: 
        linear-gradient(#4E4B4500, #4E4B45B2),
        /* background-color: rgba(78,75,69,0.7); */
        url('../images/d7c08cc2c5a73e27fb228d8a1a1b4467.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    /* height: 300px; */
    background-color: #cccccc;
    transform: scaleX(-1);
    z-index: 0;
}

.header-container {
    position: relative;
    z-index: 1;
    width: 1320px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    position: relative;
    width: 1320px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.help {
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-bg {
    background-image: 
        linear-gradient(#31200200, #62491C66),
        url("../images/6f160921275524839be0f8779df9fac4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1920px;
    height: 458px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
}

.help-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1320px;
}

h1 {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 51px;
    line-height: 1;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    /* font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
}

.real-estate {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 27px;
    line-height: 1;
    color: #CFA55B;
    margin: 0;
    padding: 0;
}

.motto {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.number {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
}

.footer-number {
    color: #424242;
}
.ad {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 40px;
}

.incom {
    color: #CFA55B;
}

.selling {
    color: #CFA55B;
    font-size: 40px;
}

.achieve-list {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 32px;   
}

.baza-list {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}

.dot {
    position: relative;
    width: 14px;
    height: 14px;
    background-color: #CFA55B;
    border-radius: 50%;
    box-shadow: 0 0 18px 0 #CFA55B;
}

.dot::before {
    position: absolute;
    top: 0;
     bottom: 0;
     left: 0;
     right: 0;
    width: 32px;
    height: 32px;
    background-color: #CFA55B;
    border-radius: 50%;
    opacity: 15%;
}

/* .ellipse-bg {
    position: absolute;
     top: 833px;
     left: 1116px;
    width: 1224px;
    height: 1224px;
} */

.ellipse-2 {
    position: absolute;
     top: 0px;
     right: -359.67px;
    width: 719.33px;
    height: 719.33px;
    border: 3px solid #CFA55B;
    opacity: 25%;
    border-radius: 50%;
    z-index: -1;
}

.ellipse-22 {
    position: absolute;
     top: -122.17px;
     right: -481.83px;
    width: 963.67px;    
    height: 963.67px;
    border: 3px solid #CFA55B;
    opacity: 18%;
    border-radius: 50%;
    z-index: -1;
}

.ellipse-222 {
    position: absolute;
     top: -260.33px;
     right: -612px;
    width: 1224px;
    height: 1224px;
    border: 3px solid #CFA55B;
    opacity: 10%;
    border-radius: 50%;
    z-index: -1;
}

.ellipse-1 {
    position:absolute;
     top: 0;
     left: 0;
    width: 399.63px;
    height: 399.63px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    opacity: 25%;
    z-index: 1;
    transform: translate(1320px, -80px);
}

.ellipse-11 {
    position:absolute;
     top: -67.87px;
     left: -67.87px;
    width: 535.37px;
    height: 535.37px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    opacity: 18%;
    z-index: 1;
    transform: translate(1320px, -80px);
}

.ellipse-111 {
    position:absolute;
     top: -140.16px;
     left: -140.16px;
    width: 680px;
    height: 680px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    opacity: 10%;
    z-index: 1;
    transform: translate(1320px, -80px);
}

/* .dot {
    width: 14px;
    height: 14px;
    background-color: #CFA55B;
    border-radius: 50%;
    box-shadow: 0 0 15px 8px #CFA55B;
    box-shadow: 0 0 15px 16px #FFC25680;
} */

/* .achieve-list::before {
    content: '\2022';
    color: #CFA55B;
    font-size: 2.2em;
    position: absolute;
    box-shadow: 0 0px 15px 16px #CFA55B;
} */

.selling-point {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    color: #424242;
    text-align: center;
    margin-bottom: 200px;
}

.color-highlight {
    color: #CFA55B;
    font-weight: bold;
}

.baza {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    color: #454545;
    margin-bottom: 50px;
}

.addres {
    font-family: "MuseoSansCyrl", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #424242;
}


.landmark-container {
    display: flex;
    flex-direction: row;
}

.logo-container {
    display: flex;
    flex-direction: column;
}

.guarantee-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.sell-container {
    border: 1px solid #CFA55B;
    border-radius: 5px;
    padding: 5px;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 180px;
}

.achieve-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center; */
}

.achieve-list-container {
    display: flex;
    align-items: center;
}

.baza-list-item {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 44px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 140px;
}

.card-container-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 200px;
}

.input-button-container {
    display: flex;
    flex-direction: row;
}

/* .baza-list {
    display: flex;
    flex-direction: column;
} */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1320px;
}

.footer {
    display: flex;
    height: 160px;
    justify-content: center;
    align-items: center;
}